body {
	background-image: url('fantasy-art-owl-forest-rain-wallpaper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align:center;
	color:#20124d;
	font-family :  URW Chancery L, cursive;
	font-size : 30px;
}

